[submodule "nodejs-pageres"]
	path = nodejs-pageres
	url = ssh+git://aur@aur.archlinux.org/nodejs-pageres.git/
[submodule "php-box"]
	path = php-box
	url = ssh+git://aur@aur.archlinux.org/php-box.git/
[submodule "phpcpd"]
	path = phpcpd
	url = ssh+git://aur@aur.archlinux.org/phpcpd.git/
[submodule "phpdcd"]
	path = phpdcd
	url = ssh+git://aur@aur.archlinux.org/phpdcd.git/
[submodule "php-go"]
	path = php-go
	url = ssh+git://aur@aur.archlinux.org/php-go.git/
[submodule "phpmd"]
	path = phpmd
	url = ssh+git://aur@aur.archlinux.org/phpmd.git/
[submodule "php-security-checker"]
	path = php-security-checker
	url = ssh+git://aur@aur.archlinux.org/php-security-checker.git/
[submodule "php-sha3"]
	path = php-sha3
	url = ssh+git://aur@aur.archlinux.org/php-sha3.git/
[submodule "php-mailparse"]
	path = php-mailparse
	url = ssh+git://aur@aur.archlinux.org/php-mailparse.git/
[submodule "testssl.sh"]
	path = testssl.sh
	url = ssh+git://aur@aur.archlinux.org/testssl.sh.git/
[submodule "testssl.sh-git"]
	path = testssl.sh-git
	url = ssh+git://aur@aur.archlinux.org/testssl.sh-git.git/
